
@font-face {
  font-family: 'Panton-SemiBold';
  src: url('Panton-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Panton-SemiBold.otf')  format('opentype'),
	     url('Panton-SemiBold.woff') format('woff'), url('Panton-SemiBold.ttf')  format('truetype'), url('Panton-SemiBold.svg#Panton-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
